.hero {
    background-image:  url('https://img.freepik.com/free-vector/abstract-futuristic-background-concept_52683-32159.jpg?t=st=1744478954~exp=1744482554~hmac=48f73e9c6ce2817f63b6bce63b39847376a0f1f9795d389a3d78be0839b3f19f&w=1380');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .cta-btn {
    padding: 12px 24px;
    background-color: #6c63ff;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #5548d9;
  }
  